{
  "extends": [
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "func-names": ["error", "never"],
    "no-underscore-dangle": 0,
    "no-new": 0,
    "newline-after-var": ["error", "always"],
    "camelcase": 1,
    "import/no-unresolved": 1,
    "import/order": 1,
    "import/no-cycle": [2, { "maxDepth": 1 }],
    "no-use-before-define": 0,
    "@typescript-eslint/no-use-before-define": 0
  }
}